<!-- Карточка товара -->

<div th:fragment="product-card">
  <div class="card">
    <!-- Верхняя часть -->
    <div class="card__top">
      <!-- Изображение-ссылка товара -->
      <a th:href="'/about-product/' + ${el.id}" class="card__image">
        <img
                th:src="@{/product/image/{id}(id=${el.id})}"/>
      </a>
    </div>
    <!-- Нижняя часть -->
    <div class="card__bottom">
      <div class="card__prices">
        <div class="card__price card__price--common" th:text="${el.price}"></div>
      </div>
      <!-- Ссылка-название товара -->
      <a th:href="'/about-product/' + ${el.id}" class="card__title" th:text="${el.type} + ' ' + ${el.nameModel} + ' (' + ${el.color} + ')' "></a>
      <!-- Кнопка добавить в корзину -->
      <form th:action="'/add-item-to-cart/' + ${el.id}" method="post" style="display:inline;">
        <button class="card__add" type="submit">В корзину</button>
      </form>
    </div>
  </div>
</div>