<!-- Карточка товара -->

<div th:fragment="product-card" xmlns:sec="http://www.w3.org/1999/xhtml">
  <div class="card">
    <!-- Верхняя часть -->
    <div class="card__top">
      <!-- Изображение-ссылка товара -->
      <a th:href="${pathToLink} + ${el.product_id}" class="card__image">
        <img
                th:src="@{/product/image/{id}(id=${el.product_id})}"/>
      </a>
    </div>
    <!-- Нижняя часть -->
    <div class="card__bottom">
      <div class="card__prices">
        <div class="card__price card__price--common" th:text="${el.price}"></div>
      </div>
      <!-- Ссылка-название товара -->
      <a th:href="${pathToLink} + ${el.product_id}" class="card__title" th:text="${el.type} + ' ' + ${el.nameModel} + ' (' + ${el.color} + ')' "></a>

      <!-- Кнопка -->
      <form th:action="${formActionPrefix} + ${el.product_id}" method="post" style="display:inline;">
        <button class="card__add" type="submit" th:text="${buttonText}"></button>
      </form>

<!--      <div sec:authorize="isAuthenticated()" >-->
<!--        <div th:if="el.ownew == null">-->
<!--          <form th:action="${formActionPrefix} + ${el.product_id}" method="post" style="display:inline;">-->
<!--            <button class="card__add" type="submit">Товар уже в корзине</button>-->
<!--          </form>-->
<!--        </div>-->
<!--        <div sec:authentication="principal.">-->
<!--          <form th:action="${formActionPrefix} + ${el.product_id}" method="post" style="display:inline;">-->
<!--            <button class="card__add" type="submit" th:text="${buttonText}"></button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->



    </div>
  </div>
</div>